  - name: install docker and dependencies on older versions (Prior to Ubuntu 20.04)
    apt:
      name: "{{ item }}"
      state: latest
      update-cache: yes
    loop: 
      - docker.io
      - apache2-utils
      - python3
      - python3-pip
    become: yes

  - name: install docker-compose on older versions (Prior to Ubuntu 20.04)
    pip:
      name: docker-compose
    become: yes